<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat blanditiis voluptatem dolores eveniet officia, est possimus architecto similique suscipit laudantium voluptatum, ipsa aspernatur quasi natus eaque quam et quos qui.</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi consequatur aspernatur odit est, amet at sunt sed aut ipsam in quo rem sequi laboriosam enim sint modi rerum ratione magni?</p>
</body>
</html>